VITE_SUPABASE_URL=https://TU_PROYECTO.supabase.co itymatyeumivirdgsdgx
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0eW1hdHlldW1pdmlyZGdzZGd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4NjMzNjMsImV4cCI6MjEwNTQzOTM2M30.kgZ7X0Ycgt1uMcF7-4JP-TqmKYX1OsAE-lYmc3dpz74
